.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: rgba(17, 17, 17, 0.48);
  font-size: 18px;
  &:hover {
    color: #01a7fd;
  }
}

.activeLink {
  color: #01a7fd;
}
